In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv("./data.csv")
data

,Position,Track Name,Artist,Streams,URL,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec
1,2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,ec
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,https://open.spotify.com/track/3QwBODjSEzelZyV...,2017-01-01,ec
3,4,Vente Pa' Ca,Ricky Martin,14954,https://open.spotify.com/track/7DM4BPaS7uofFul...,2017-01-01,ec
4,5,Safari,J Balvin,14269,https://open.spotify.com/track/6rQSrBHf7HlZjtc...,2017-01-01,ec
...,...,...,...,...,...,...,...
3441192,196,More Than You Know,Axwell /\ Ingrosso,2126,https://open.spotify.com/track/71bBFbfn2OBK5Qw...,2018-01-09,hk
3441193,197,Issues,Julia Michaels,2117,https://open.spotify.com/track/7vu0JkJh0ldukEY...,2018-01-09,hk
3441194,198,Tuo Fei Lun,Eason Chan,2112,https://open.spotify.com/track/0pmGleExiQyd0Hx...,2018-01-09,hk
3441195,199,面具,Alfred Hui,2102,https://open.spotify.com/track/58SUsgamkW6vFFq...,2018-01-09,hk
3441196,200,Let Her Go,Passenger,2088,https://open.spotify.com/track/2jyjhRf6DVbMPU5...,2018-01-09,hk

In [12]:
renamed_df = data.rename(columns={"Position": "Rank", "Track Name": "Song Name" })
renamed_df.head()

# # position = (data["Position"]<6)
# position = data.loc[(data["Position"]<6),:]
# position

,Rank,Song Name,Artist,Streams,URL,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec
1,2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,ec
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,https://open.spotify.com/track/3QwBODjSEzelZyV...,2017-01-01,ec
3,4,Vente Pa' Ca,Ricky Martin,14954,https://open.spotify.com/track/7DM4BPaS7uofFul...,2017-01-01,ec
4,5,Safari,J Balvin,14269,https://open.spotify.com/track/6rQSrBHf7HlZjtc...,2017-01-01,ec

In [13]:
updated_df = renamed_df[["Rank","Song Name", "Artist", "Streams", "Date", "Region"]]
updated_df
# position = (data["Position"]<6)
# position = renamed_df.loc[(data["Position"]<6),:]
# position

,Rank,Song Name,Artist,Streams,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,2017-01-01,ec
1,2,Chantaje,Shakira,19270,2017-01-01,ec
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,2017-01-01,ec
3,4,Vente Pa' Ca,Ricky Martin,14954,2017-01-01,ec
4,5,Safari,J Balvin,14269,2017-01-01,ec
...,...,...,...,...,...,...
3441192,196,More Than You Know,Axwell /\ Ingrosso,2126,2018-01-09,hk
3441193,197,Issues,Julia Michaels,2117,2018-01-09,hk
3441194,198,Tuo Fei Lun,Eason Chan,2112,2018-01-09,hk
3441195,199,面具,Alfred Hui,2102,2018-01-09,hk
3441196,200,Let Her Go,Passenger,2088,2018-01-09,hk

In [22]:
# position_df = (updated_df["Rank"]<6)
position_df = (updated_df.loc[(data["Position"]<6),:])
position_df
# position = renamed_df.loc[(data["Position"]<6),:]
# position

,Rank,Song Name,Artist,Streams,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,2017-01-01,ec
1,2,Chantaje,Shakira,19270,2017-01-01,ec
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,2017-01-01,ec
3,4,Vente Pa' Ca,Ricky Martin,14954,2017-01-01,ec
4,5,Safari,J Balvin,14269,2017-01-01,ec
...,...,...,...,...,...,...
3440997,1,Rewrite The Stars,Zac Efron,13012,2018-01-09,hk
3440998,2,Wolves,Selena Gomez,12636,2018-01-09,hk
3440999,3,Havana,Camila Cabello,12608,2018-01-09,hk
3441000,4,Finesse (Remix) [feat. Cardi B],Bruno Mars,11309,2018-01-09,hk
3441001,5,River (feat. Ed Sheeran),Eminem,11208,2018-01-09,hk

In [27]:
jan_2017 = position_df.loc[(position["Date"] =="2017-01-01"),:]
jan_2017

,Rank,Song Name,Artist,Streams,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,2017-01-01,ec
1,2,Chantaje,Shakira,19270,2017-01-01,ec
2,3,Otra Vez (feat. J Balvin),Zion & Lennox,15761,2017-01-01,ec
3,4,Vente Pa' Ca,Ricky Martin,14954,2017-01-01,ec
4,5,Safari,J Balvin,14269,2017-01-01,ec
...,...,...,...,...,...,...
3366997,1,Closer,The Chainsmokers,12831,2017-01-01,hk
3366998,2,Starboy,The Weeknd,9626,2017-01-01,hk
3366999,3,Let Me Love You,DJ Snake,9499,2017-01-01,hk
3367000,4,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,8210,2017-01-01,hk
3367001,5,Don't Wanna Know,Maroon 5,7606,2017-01-01,hk

In [40]:
# streams = jan_2017.sort_values("Streams",ascending=False)
# streams.head(10)
streams = jan_2017.sort_values(["Rank", "Date"])
streams

,Rank,Song Name,Artist,Streams,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,2017-01-01,ec
74200,1,One Dance,Drake,89403,2017-01-01,fr
148400,1,Chantaje,Shakira,253019,2017-01-01,ar
222600,1,Hukutaan,Arttu Lindeman,60220,2017-01-01,fi
296800,1,Alone,Alan Walker,103886,2017-01-01,no
...,...,...,...,...,...,...
3190447,5,Vente Pa' Ca,Ricky Martin,6873,2017-01-01,py
3246244,5,Call On Me - Ryan Riback Extended Remix,Starley,83729,2017-01-01,au
3320444,5,Black Beatles,Rae Sremmurd,1442,2017-01-01,lv
3339809,5,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,2045,2017-01-01,gr
3367001,5,Don't Wanna Know,Maroon 5,7606,2017-01-01,hk

In [35]:
rank = streams.groupby("Rank")
rank.counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'counts'